{% extends 'base.html.twig' %}
{% block title %}Mon compte{% endblock %}

{% block body %}
<div class="container m-5 d-flex justify-content-center">
    <p> Vous êtes connecté avec l'email {{ user.email }}</p>
</div>
{% endblock %}