
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
.DS_STORE
migrations/Version20201127092243.php
migrations/Version20201130084028.php
migrations/Version20201204093255.php
migrations/Version20201204103339.php
migrations/Version20201204103352.php
migrations/Version20201210133650.php
migrations/Version20201210153931.php
migrations/Version20201210154701.php
migrations/Version20201212152957.php
migrations/Version20201227130248.php
migrations/Version20201227141635.php
migrations/Version20201229141442.php