{% extends 'base.html.twig' %}

{% block title %}Edition série{% endblock %}

{% block body %}
    <h1>Editer la série</h1>

    {{ include('program/_form.html.twig', {'button_label': 'Modifier'}) }}

    <a href="{{ path('program_index') }}">retour</a>
{% endblock %}