{% extends 'base.html.twig' %}
{% block title %}Wild Series{% endblock %}
{% block body %}

<div class="container m-5 ">
    <h1>{% trans %} hello_user {% endtrans %} !</h1>
    <h2>{% trans %} last_programs {% endtrans %}</h2>
    {% for program in programs %}
    <ul>
        <li><a href="{{ path("program_show", { slug: program.slug }) }}">{{ program.title }}</a></li>
    </ul>
    {% endfor %}
</div>

{% endblock %}